.profileContainer {
  width: 90vw;
  margin: 3vh 5vw;
}

.userContainer {
  display: flex;
  align-items: center;
}

.userProfImg {
  height: 150px;
  width: 150px;
  object-fit: cover;
  background-color: transparent;
  border-radius: 50%;
  border: pink 3px solid;
}

.userName {
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 0 10px;
}

.contentContainer {
  display: flex;
}

.bioContainer,
.friendsContainer {
  min-width: 28vw;
  max-width: 400px;
  height: fit-content;
  margin: 20px 60px 20px 0;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.bioTitle,
.friendsTitle {
  width: calc(100% - 24px);
  border-radius: 15px 15px 0 0;
  margin: 0;
  padding: 10px;
  border: 2px solid pink;
  font-size: 20px;
  font-weight: bold;
}
.bioText {
  margin: 0;
  width: calc(100% - 24px);
  border-radius: 0 0 15px 15px;
  padding: 10px;
  border: 2px solid pink;
  border-top: none;
  min-height: 70px;
  height: fit-content;
}

.posts {
  margin-top: -20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
}

.posts > div {
  width: 100%;
}

.friendsList > div {
  padding: 10px 0px 5px 10px;
}

.friendsList {
  border-radius: 0 0 15px 15px;
  border: 2px solid pink;
  border-top: none;
}

.friendsList > div:first-child {
  padding-top: 20px;
}

.friendsList > div:last-child {
  padding-bottom: 20px;
}
