.likesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;
  margin-bottom: 5px;
}

.likesTitle {
  margin: 0;
}

.closeModalBtn {
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  text-align: center;
}

.closeModalBtn:hover {
  background-color: pink;
  cursor: pointer;
}

hr {
  margin: 10px 0;
}

.userIconContainer {
  margin: 10px 0;
}
