.container {
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  font-weight: bold;
}

.btn {
  background-color: transparent;
  border-radius: 20px;
}

.btn:hover {
  background-color: rgba(255, 192, 203, 0.443);
}
.btn,
input {
  height: 2.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 18px;
}

.title {
  text-align: center;
}
