.user_icon_container {
  display: flex;
  height: 50px;
  background-color: transparent;
  border: none;
  align-items: center;
}

.user_icon {
  height: 50px;
  width: 50px;
  object-fit: cover;
  background-color: transparent;
  border-radius: 50%;
}

.user_link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 2px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: left;
}

.user_icon:hover {
  box-shadow: 0 0 10px pink;
}

.user_link:hover {
  text-decoration: underline pink;
  text-underline-offset: 4px;
}
