.container {
  display: flex;
  background-color: yellow;
  padding: 8px;
}

.homeBtn {
  background-color: transparent;
  border: none;
  padding: 10px; /* Adjust padding as needed for the button size */
  font-size: 20px; /* Adjust font size as needed */
  transition: background-color 0.3s; /* Optional: Add a smooth hover effect */

  /* Center the text vertically and horizontally within the button */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s;
}

/* Add a hover effect for the button */
.homeBtn:hover {
  transform: translateY(2px);
}

.homeBtn > a {
  text-decoration: none;
  color: black;
}

.homeBtn > a:hover {
  text-decoration: underline pink;
  text-underline-offset: 4px;
}
