.container {
  display: flex;
  background-color: yellow;
  padding: 8px;
  justify-content: space-between;
}

.homeBtn {
  margin-left: 5vw;
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.homeBtn > a {
  text-decoration: none;
  color: black;
  transition: transform 0.3s;
}

.homeBtn > a:hover {
  text-decoration: underline pink;
  text-underline-offset: 4px;
  transform: translateY(3px);
}
